/* Split the screen in half */
.split {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    font-family: "VarelaRound",Helvetica,Arial,sans-serif;
    display: block;
    overflow: hidden;
}

/* Control the left side */
.left {
    left: 0;
    z-index: 1;
    width: calc(66.6vw);
}

/* Control the right side */
.right {
    right: 0;
    z-index: 2;
    width: calc(33.4vw + 30px);
    padding-left: 30px;
    border-radius: 30px 0px 0px 30px;
    box-shadow: -10px 5px 50px rgba(0, 0, 0, .25);
    height: 100vh;

    background-color: var(--background);
}

.split.right .content {
    width: calc(100% - 2 * min(30px, 5%));
    height: 100%;
    flex-flow: column;
    display: flex;
    margin: min(30px, 5%);
}

.split.right .fit {
    flex: 0 1 auto;
}

.split.right .flex {
    flex: 1 1 auto;
    overflow-y: auto;
}

.split.right .bottom {
    margin: 20px;
}

#news_body * {
    margin: 10px;
}

:root {
    --background: rgb(250, 250, 250);
    --text-primary: var(--nine);
    --text-secondary: var(--seven);
    --accent: brown;

    
    --one: rgb(216, 243, 220);
    --two: rgb(183, 228, 199);
    --three: rgb(149, 213, 178);
    --four: rgb(116, 198, 157);
    --five: rgb(82, 183, 136);
    --six: rgb(64, 145, 108);
    --seven: rgb(45, 106, 79);
    --eight: rgb(27, 67, 50);
    --nine: rgb(8, 28, 21);
}

[data-theme='dark'] {
    --background: var(--nine);
    --text-primary: white;
    --text-secondary: var(--one);
    --accent: darkred;

    
    --one: rgb(216, 243, 220);
    --two: rgb(183, 228, 199);
    --three: rgb(149, 213, 178);
    --four: rgb(116, 198, 157);
    --five: rgb(82, 183, 136);
    --six: rgb(64, 145, 108);
    --seven: rgb(45, 106, 79);
    --eight: rgb(27, 67, 50);
    --nine: rgb(8, 28, 21);
}

@font-face {
    font-family: "VarelaRound";
    src: url("./VarelaRound-Regular.ttf");
}